@media only screen and (min-device-width: 1280px) {
  #drop-down_btn {
    display: none; } }
@media only screen and (max-device-width: 1280px) {
  #drop-down_btn {
    display: none; }

  .footer-top__container {
    grid-template-columns: repeat(3, auto); }
  .footer-top__shopping {
    grid-area: 1/2/2/3; }
  .footer-top__more-link {
    grid-area: 1/3/2/4; }
  .footer-top__blog {
    display: none; } }
@media only screen and (max-device-width: 968px) {
  .top-bar__icons {
    width: 40%; }

  #drop-down_btn {
    display: none; }

  .hotdeals__img > img, .goods__img > img, .products__hover, .products__img > img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down; }

  .footer-top__container {
    grid-template-columns: repeat(2, auto); }
  .footer-top__shopping {
    grid-area: 1/2/2/3; }
  .footer-top__more-link {
    display: none; } }
@media only screen and (max-device-width: 768px) {
  .header {
    margin: 0 10px 0 10px; }

  .top-bar__icons {
    width: 40%; }

  #drop-down_btn {
    display: none; }

  .products__block_hover {
    top: 30%;
    left: 30%;
    right: 25%; }

  .subscribe {
    height: 157px;
    margin: 0px 0px 77px 0px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .subscribe__text-block {
      width: 80%; }
    .subscribe__form {
      width: 80%; }

  .footer-top {
    padding: 40px 32px 48px; }
    .footer-top__container {
      justify-content: center;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 0; }
    .footer-top__shopping {
      grid-area: 2/1/3/2; }
    .footer-top__socnet {
      grid-area: 3/1/4/2; }
    .footer-top__item {
      margin: 22px 0; }
    .footer-top__item:first-child {
      margin-top: 0; }
    .footer-top__item:last-child {
      margin-bottom: 0; }
    .footer-top__socnet {
      margin-top: 50px; }
    .footer-top__link {
      text-transform: uppercase;
      font-weight: 700; }

  .footer-info__logo {
    text-align: center; }
  .footer-info__phone {
    order: -1; }

  .footer-info__address,
  .footer-top__list {
    margin-top: 64px;
    align-items: center; }

  .hide-mobile {
    display: none; } }
@media only screen and (max-device-width: 375px) {
  .footer-bottom {
    padding: 11px 0; } }
@media only screen and (max-device-width: 375px) {
  .products__img > img {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down; }

  .header {
    margin: 0 10px 0 10px; }

  .top-bar__icons {
    width: 40%; }
  .top-bar__search {
    display: none; }

  .middle-bar,
  .lower-bar {
    display: none; }

  #wishlist_place {
    display: none; }

  #drop-down_btn {
    display: flex;
    align-self: center; }

  .btn {
    max-width: 124px; }

  .hotdeals {
    margin-bottom: 60px; }
    .hotdeals__block {
      margin: 30% 10% 20% 10%; }
    .hotdeals__title {
      font-size: 0.875rem;
      line-height: 1.17; }
    .hotdeals__link {
      font-size: 1.25rem;
      line-height: 1.17; }
    .hotdeals__btn {
      margin: 0px; }

  .screen2__title {
    font-size: 1.5rem;
    line-height: 1.17;
    display: block;
    margin-bottom: 25px; }

  .products {
    display: table-header-group;
    position: relative;
    margin: 0px; }
    .products__rating {
      display: none; }
    .products__img {
      height: 100%; }
    .products__wrapper {
      margin: 0px 0px 96px 26px;
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center; }
    .products__slider {
      position: relative;
      height: auto;
      overflow: hidden; }
    .products__items {
      width: 300%;
      height: 100%;
      display: flex; }
    .products__item {
      width: 100%;
      position: relative;
      min-height: 260px;
      display: block; }
    .products__block {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 25%;
      justify-content: space-around;
      color: white;
      background-color: #B7B79A;
      opacity: 0.6;
      padding: 14px; }
    .products__nav {
      position: absolute;
      bottom: -50px;
      width: 100%;
      z-index: 2;
      display: flex;
      justify-content: center; }
    .products__nav > label {
      height: 9px;
      width: 9px;
      border-radius: 8px;
      margin: 4px;
      cursor: pointer;
      background-color: #C4C4C4;
      opacity: 0.5;
      transition: all 0.4s ease; }
    .products__nav > label:hover {
      opacity: 0.8;
      transform: scale(1.1);
      background-color: #222222; }
    .products__item_hover {
      display: none; }
    .products__block {
      margin: 0px; }
    .products__hover-bar {
      display: none; }
    .products__price {
      font-size: 1.25rem;
      line-height: 1.17; }

  .products__img > img {
    object-fit: fill; }

  .products__block > a {
    font-size: 1rem;
    line-height: 1.17;
    color: #ffff;
    margin-bottom: 9px; }

  #s1:checked ~ .s1 {
    margin-left: 0; }

  #s2:checked ~ .s1 {
    margin-left: -15%; }

  #s3:checked ~ .s1 {
    margin-left: -30%; }

  #s4:checked ~ .s1 {
    margin-left: -45%; }

  #s5:checked ~ .s1 {
    margin-left: -60%; }

  #s6:checked ~ .s1 {
    margin-left: -80%; }

  .goods {
    display: table-footer-group;
    margin: 0px 0px 90px 0px; }
    .goods__card_dark {
      display: none; }
    .goods__cards {
      grid-template-columns: 1fr; }
    .goods__block {
      margin: 20% 7% 15% 7%; }

  .promo {
    grid-area: promo;
    position: relative; }
    .promo__img > img {
      max-width: 70%; }
    .promo__text-box {
      position: absolute;
      width: 192px;
      height: 139px;
      left: 38px;
      top: 36px;
      background: rgba(255, 255, 255, 0.9); }
    .promo__text-wrapper {
      width: 152px;
      height: 95px;
      margin: 22px 20px; }
    .promo__title {
      padding: 0;
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.44rem;
      font-weight: 700;
      text-transform: uppercase; }
    .promo__description {
      visibility: hidden;
      display: none; }
    .promo__button {
      height: 48px;
      width: 124px;
      font-weight: 700;
      font-size: 0.875rem;
      text-transform: uppercase; }
    .promo__link {
      text-decoration: none;
      color: #323334; }
    .promo__button:hover {
      display: none; }
    .promo__link:hover {
      color: #fff; }
    .promo__price {
      display: none; }
    .promo__price-old {
      display: none; }

  .subscribe {
    height: 157px;
    margin: 0px 0px 77px 0px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .subscribe__text-block {
      width: 80%; }
    .subscribe__form {
      width: 80%; } }

/*# sourceMappingURL=media.css.map */
